:root {
--c1: rgb(90,90,90,.2);
--c2: rgb(60,60,60,.6);
--c3: transparent;
--ina-bg: hsl(0 0% 0%);
--ina-bg-2: hsl(240, 67%, 94%);
--ina-bg-3: hsl(0 0% 0%);
--ina-color: hsl(240, 67%, 94%);
--ina-color-2: hsl(0 0% 0%);
--ina-color-3: hsl(240, 67%, 94%);
--ina-white: white;
--ina-black: black;
--ina-red: red;
--ina-bg-button: hsl(220, 5%, 36%);
--ina-img: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
--ina-img-2: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
--ina-img-3: linear-gradient(to bottom, #eaeff5, #ee86a1);
--text-shadow: none;
--text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
--box-shadow-none: none;
--border-none: none;
--box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
--font-family-1: "Poppins", serif;
--font-family-2: "Cutive Mono", serif;
--font-family-3: "Oswald", serif;
}

:root.mode-light {
--c1: rgb(90,90,90,.06);
--c2: rgb(60,60,60,.06);
--c3: transparent;
--ina-bg: hsl(240, 67%, 94%);
--ina-bg-2: hsl(0 0% 0%);
--ina-bg-3: hsl(0 0% 0%);
--ina-color: hsl(0 0% 30%);
--ina-color-2: hsl(240, 67%, 94%);
--ina-color-3: hsl(240, 67%, 94%);
--ina-black: white;
--ina-white: black;
--ina-red: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
--ina-bg-button: hsl(220, 5%, 36%);
--ina-img: linear-gradient(268deg, #000, #000, #000, #000);
--ina-img-2: linear-gradient(268deg, hsl(240, 67%, 94%), hsl(240, 67%, 94%), hsl(240, 67%, 94%), hsl(240, 67%, 94%));
--ina-img-3: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
--text-shadow: none;
--text-shadow-none: 1px 1px 2px rgba(0, 0, 0, 0.2);
--box-shadow: none;
--box-shadow-none: 0 4px 30px rgba(0, 0, 0, 0.1);
--border-none: 1px solid hsl(240, 67%, 94%);
}

html {
scroll-behavior: smooth;
scrollbar-color: auto;
}
@media (max-width: 678px) {
html {
scrollbar-color: transparent transparent;
}}
body, html {
padding: 0;
margin: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-smoothing: antialiased;
}
body {
min-height: 100vh;
word-wrap: break-word;
word-break: break-word;
font-family: var(--font-family-1);
}

body#index.multiitem {
background: var(--ina-bg);
color: var(--ina-color);
}

body#index.singleitem {
background: var(--ina-img);
color: var(--ina-color-2);
}

body#index.nofound {
background: var(--ina-img-3);
color: var(--ina-color-2);
}

body:before{
content: "";
min-height:100vh;
width:100%;
position:fixed;
background-image:
linear-gradient(var(--c3) 2px,transparent 2px),linear-gradient(90deg,var(--c3) 2px,transparent 2px),linear-gradient(var(--c3) 1px,transparent 1px),linear-gradient(90deg,var(--c3) 1px,transparent 1px);
background-size:100px 100px,100px 100px,20px 20px,20px 20px;
background-attachment:fixed;
background-position:center;
mask:linear-gradient(0deg,transparent 5%,var(--c3));
top:0;
left:0;
z-index:-1;
transform:translate3d(0,0,-100vmin);
}

@media screen and (max-width:678px){
body#index.h-multiitem:before{
content: "";
height:100vh;
width:100%;
position:fixed;
background-image:linear-gradient(var(--c2) 2px,transparent 2px),linear-gradient(90deg,var(--c2) 2px,transparent 2px),linear-gradient(var(--c1) 1px,transparent 1px),linear-gradient(90deg,var(--c1) 1px,transparent 1px);
background-size:100px 100px,100px 100px,20px 20px,20px 20px;
background-attachment:fixed;
background-position:center;mask:linear-gradient(0deg,transparent 5%,var(--ina-color-2));top:0;left:0;z-index:-1;transform:translate3d(0,0,-100vmin);
}}

body#index.home header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 15px 0;
background: var(--ina-bg);
color: var(--ina-color);
text-align: center;
z-index: 3;
}

body#index.h-multiitem header,
body#index.singleitem header {
position: fixed;
top: 0;
left: 0;
width: 240px;
padding: 15px 0;
text-align: center;
z-index: 3;
}

body#index.nofound header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 15px 0;
background: var(--ina-img-3);
color: var(--ina-color-2);
text-align: center;
z-index: 3;
}

@media (max-width: 1200px) {
body#index.home header,
body#index.h-multiitem header {
background: var(--ina-bg);
color: var(--ina-color);
box-shadow: var(--box-shadow-none);
width: 100%;
}
body#index.singleitem header {
background: none;
color: var(--ina-color-2);
box-shadow: none;
width: 100%;
border-bottom: 1px solid var(--ina-color-2);
}
}

header h1 {
font-size: 1.3rem;
font-family: var(--font-family-2);
font-weight: 400;
}

body#index.singleitem header h1,
body#index.nofound header h1 {
color: var(--ina-color-2);
text-shadow: var(--text-shadow);
}
body#index.multiitem header h1 {
color: var(--ina-color);
text-shadow: var(--text-shadow-none);
}

.m__i a {
font-weight: 200;
z-index: 6;
}

.n-m {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
z-index: 5;
height: 100vh;
top: 0;
left: -100%;
position: fixed;
transition: left 0s calc(0.5s * 2), transform 0s calc(0.5s * 2);
width: 100%;
}

.n-m::before,
.n-m::after {
content: "";
height: 50%;
left: 0;
position: absolute;
transform: translateX(-110%);
transform-origin: 0 50%;
transition: transform calc(0.5s * 2) 0.5s cubic-bezier(.215, .61, .355, 1);
width: 100%;
z-index: -100;
}

.n-m::before {
top: 0;
}

.n-m::after {
bottom: 0;
}

.n-m .m__i {
opacity: 0;
transform: translateX(-1rem);
transition: opacity 0.5s cubic-bezier(.215, .61, .355, 1), transform 0.5s cubic-bezier(.215, .61, .355, 1);
}

[id=x-mn] {
opacity: 0;
position: fixed;
top: -100%;
}

[id=x-mn] ~ label {
cursor: pointer;
position: fixed;
left: .8rem;
top: 1rem;
z-index: 6;
}

@media only screen and (min-width: 1200px) {
[id=x-mn] ~ label {
display: none;
}
}

[id=x-mn] ~ label span {
display: block;
height: 2rem;
padding: .5rem;
position: relative;
transition: transform calc(0.5s * 3) cubic-bezier(.215, .61, .355, 1);
width: 2.5rem;
}

[id=x-mn] ~ label span::before,
[id=x-mn] ~ label span::after {
bottom: 0;
content: "";
height: 4px;
left: 0;
margin: auto;
position: absolute;
right: 0;
transition: transform calc(0.5s * 3) cubic-bezier(.215, .61, .355, 1);
top: 0;
width: calc(100% - 1rem);
}

[id=x-mn] ~ label span::before {
transform: rotate(0) translateY(-100%);
}

[id=x-mn] ~ label span::after {
transform: rotate(0) translateY(100%);
}

[id=x-mn]:checked ~ label span {
transform: rotate(1turn);
}

[id=x-mn]:checked ~ label span::before {
transform: rotate(45deg);
}

[id=x-mn]:checked ~ label span::after {
transform: rotate(-45deg);
}

[id=x-mn]:checked ~ .n-m {
left: 0;
transition: transform 0s;
}

[id=x-mn]:checked ~ .n-m::before,
[id=x-mn]:checked ~ .n-m::after {
transform: translateX(0);
transition-delay: 0s;
}

[id=x-mn]:checked ~ .n-m::after {
transition-delay: calc(0.5s / 2);
}

[id=x-mn]:checked ~ .n-m .m__i {
opacity: 1;
transform: translateX(0);
transition: opacity calc(0.5s * 2) cubic-bezier(.215, .61, .355, 1), transform calc(0.5s * 2) cubic-bezier(.215, .61, .355, 1);
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(1) {
transition-delay: calc(0.5s * 2 * (1 * 0.25));
z-index: -1;
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(2) {
transition-delay: calc(0.5s * 2 * (2 * 0.25));
z-index: -2;
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(3) {
transition-delay: calc(0.5s * 2 * (3 * 0.25));
z-index: -3;
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(4) {
transition-delay: calc(0.5s * 2 * (4 * 0.25));
z-index: -4;
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(5) {
transition-delay: calc(0.5s * 2 * (5 * 0.25));
z-index: -5;
}

.menu {
text-transform: uppercase;
font-family: "Oswald", serif;
position: relative;
text-align: center;
padding: 0;
margin: 0 20px;
z-index: 1;
display: flex;
justify-content: flex-end;
flex-direction: column;
align-items: flex-end;
}

.menu > .m__i {
font-size: 3rem;
font-family: "Oswald", serif;
line-height: 3rem;
text-align: center;
}

.submenu {
margin: 15px 0 0;
white-space: nowrap;
text-transform: initial;
right: 0;
opacity: 0;
position: absolute;
transform: translateY(-10%);
top: 100%;
width: 100%;
visibility: hidden;
z-index: 2;
}

.submenu .m__i {
font-family: "Cutive Mono", monospace;
font-size: 1.8rem;
text-align: center;
width: 100%;
line-height: 1.5rem;
margin: 0;
}

.submenu .m__l {
color: #75757C;
}

.submenu .m__l::before,
.submenu .m__l::after {
display: none;
}

.m__i {
display: block;
position: relative;
}

.m__i:hover .m__l::before,
.m__i:hover .m__l::after {

transform: translateX(calc(100% - 0.5rem));
transition-duration: calc(0.5s * 3);
}

.m__i:hover .m__l::after {
transition-delay: calc(0.5s / 2);
}

.m__i:hover .submenu {
opacity: 1;
transform: translateY(0);
transition: transform calc(0.5s * 2) calc(0.5s * 3) cubic-bezier(.215, .61, .355, 1), opacity calc(0.5s * 2) calc(0.5s * 3) cubic-bezier(.215, .61, .355, 1), visibility 0s calc(0.5s * 3);
visibility: visible;
}

.m__l {
color: pink;
display: inline-block;
font-weight: 400;
overflow: hidden;
padding: 5px 15px 5px;
position: relative;
text-decoration: none;
transition: color 0.5s cubic-bezier(.215, .61, .355, 1), opacity 0.5s cubic-bezier(.215, .61, .355, 1), transform 0.5s cubic-bezier(.215, .61, .355, 1);
z-index: 1;
}

.m__l::before,
.m__l::after {
content: "";
height: 50%;
left: 0;
position: absolute;
transform: translateX(-110%);
transform-origin: 0 50%;
transition: transform 0s cubic-bezier(.215, .61, .355, 1);
width: 100%;
z-index: -1;
}

.m__l::before {
top: 0;
}

.m__l::after {
bottom: 0;
}

.menu:not(:focus-within):not(:hover) .m__i .m__l {
opacity: 1;
transform: translate(0, 0);
}

.m__i {
--pull: 30%;
}

.m__i .m__l {
opacity: .25;
transition-duration: calc(0.5s * 3);
transform: translate(0, calc(var(--pull) * -1));
}

.m__i .submenu .m__l {
opacity: 1;
}

.m__i:hover > .m__l {
color: #75757C;
opacity: 1;
transform: translate(0, 0);
}

.m__i:hover > .m__l:hover {
transition-delay: 0s;
}

.m__i:hover ~ .m__i > .m__l {
transition-duration: calc(0.5s * 3);
transform: translate(0, var(--pull));
}

body#index.multiitem .n-m a:link {
color: var(--ina-color);
}

body#index.multiitem .n-m a:visited {
color: var(--ina-color);
}

body#index.multiitem .n-m a:active {
color: var(--ina-color);
}

body#index.multiitem .n-m a:hover {
background: var(--ina-bg-2);
}

body#index.multiitem .n-m::before,
body#index.multiitem .n-m::after {
background: var(--ina-bg);
}

body#index.multiitem [id=x-mn] ~ label span::before,
body#index.multiitem [id=x-mn] ~ label span::after {
background: var(--ina-bg-2) ;
}

body#index.multiitem .m__i:hover > .m__l:hover {
color: var(--ina-color-2);
}

body#index.multiitem .m__l::before,
body#index.multiitem .m__l::after {
content: "";
background: var(--ina-red);
}

body#index.singleitem .n-m a:link {
color: var(--ina-color-2);
}

body#index.singleitem .n-m a:visited {
color: var(--ina-color-2);
}

body#index.singleitem .n-m a:active {
color: var(--ina-color-2);
}

body#index.singleitem .n-m a:hover {
background: var(--ina-bg);
}

body#index.singleitem .n-m::before,
body#index.singleitem .n-m::after {
background: var(--ina-img);
}

body#index.singleitem [id=x-mn] ~ label span::before,
body#index.singleitem [id=x-mn] ~ label span::after {
background: var(--ina-bg) ;
}

body#index.singleitem .m__i:hover > .m__l:hover {
color: var(--ina-color);
}

body#index.singleitem .m__l::before,
body#index.singleitem .m__l::after {
content: "";
background: var(--ina-red);
}


body#index.nofound .n-m a:link {
color: var(--ina-color-2);
}

body#index.nofound .n-m a:visited {
color: var(--ina-color-2);
}

body#index.nofound .n-m a:active {
color: var(--ina-color-2);
}

body#index.nofound .n-m a:hover {
background: var(--ina-bg);
}

body#index.nofound .n-m::before,
body#index.nofound .n-m::after {
background: var(--ina-img-3);
}

body#index.nofound [id=x-mn] ~ label span::before,
body#index.nofound [id=x-mn] ~ label span::after {
background: var(--ina-bg) ;
}

body#index.nofound .m__i:hover > .m__l:hover {
color: var(--ina-color);
}

body#index.nofound .m__l::before,
body#index.nofound .m__l::after {
content: "";
background: var(--ina-red);
}

.text_menu-i {
font-size: 5rem;
position: absolute;
left: 0;
writing-mode: vertical-lr;
transform: rotate(180deg);
margin: 0;
padding: 0;
font-family: var(--font-family-3);
font-weight: 500;
-webkit-text-stroke-width: thin;
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
.text_menu-i {
font-size: 3rem;
}}

body#index.multiitem .text_menu-i {border-left: 1px solid var(--ina-color);}}
body#index.singleitem .text_menu-i {border-left: 1px solid var(--ina-color-2);}}
body#index.nofound .text_menu-i {border-left: 1px solid var(--ina-color-2);}}

main {
display: flex;
justify-content: center;
min-height: 100vh;
word-wrap: break-word;
word-break: break-word;
flex-wrap: wrap-reverse;
}

body#index.home main {
padding: 0;
margin: 0 25px 0;
}

body#index.h-multiitem main {
padding: 0;
margin: 50px 20px 100px 275px;
}

@media (max-width: 1200px) {
body#index.h-multiitem main {
padding: 0;
margin: 100px 25px 100px;
}
}
@media (max-width: 1024px) {
body#index.h-multiitem main {
padding: 0;
margin: 100px 25px 100px;
}
}
@media (max-width: 678px) {
body#index.h-multiitem main {
padding: 0;
margin: 100px 25px 100px;
}
}
@media (max-width: 480px) {
body#index.h-multiitem main {
padding: 0;
margin: 100px 25px 100px;
}
}

body#index.singleitem main {
padding: 0;
margin: 50px 270px 100px 275px;
}

@media (max-width: 1200px) {
body#index.singleitem main {
padding: 0;
margin: 100px 50px 100px;
}
}
@media (max-width: 1024px) {
body#index.singleitem main {
padding: 0;
margin: 100px 25px 100px;
}
}
@media (max-width: 678px) {
body#index.singleitem main {
padding: 0;
margin: 100px 25px 100px;
}
}
@media (max-width: 480px) {
body#index.singleitem main {
padding: 0;
margin: 100px 25px 100px;
}
}

.theme-color {
position: fixed;
top: 1rem;
right: 1rem;
width: 48px;
aspect-ratio: 1;
padding: 0;
border: 0;
display: grid;
place-items: center;
border-radius: 12px;
background: transparent;
transition: background 0.2s;
cursor: pointer;
z-index: 3;
}

body#index.multiitem .theme-color {
color: var(--ina-color);
}
body#index.singleitem .theme-color,
body#index.nofound .theme-color {
color: var(--ina-color-2);
}

.theme-color[aria-pressed="true"] svg path:last-of-type {
display: block;
}

.theme-color svg {
color: currentColor;
width: 50%;
}

.theme-color[aria-pressed="true"] svg path:first-of-type,
.theme-color svg path:last-of-type {
display: none;
}

::view-transition-group(root) {
animation-duration: 1.25s;
}

::view-transition-old(root),
::view-transition-new(root) {
mix-blend-mode: normal;
}

::view-transition-old(root) {
animation: none;
}

::view-transition-new(root) {
z-index: 2;
}

::view-transition-new(root),
::view-transition-old(root) {
animation: none;
mix-blend-mode: normal;
height: 100%;
width: 100%;
}

::view-transition-new(root) {
z-index: 2;
animation: slice 1s;
}

@keyframes slice {
0% {
clip-path: polygon(0 -110%, 25% -110%, 25% -110%, 50% -110%, 50% -110%, 75% -110%, 75% -110%, 100% -110%, 100% -110%, 75% -110%, 75% -110%, 50% -110%, 50% -110%, 25% -110%, 25% -110%, 0 -110%);
}

100% {
clip-path: polygon(0 0, 25% 0, 25% 0, 50% 0, 50% 0, 75% 0, 75% 0, 100% 0, 100% calc(100% + 40px), 75% calc(100% + 40px), 75% calc(100% + 100px), 50% calc(100% + 100px), 50% calc(100% + 60px), 25% calc(100% + 60px), 25% 100%, 0 100%);
}
}

.c_h,
.c_m {
border-radius: 50% / 50%;
position: absolute;
}

.c_h {
background: hsl(0 100% 51%);
border: 1px solid hsl(240 68% 94%);
-webkit-box-shadow: inset 0 5px hsl(240 68% 94%);
box-shadow: inset 0 5px hsl(0 100% 51%);
height: 16px;
left: 25px;
top: 16px;
width: 16px;
z-index: 101;
}

#lgs {
height: 22px;
left: 16px;
position: absolute;
top: 28px;
width: 22px;
z-index: 101;
}

.c_w_02 {
-webkit-box-shadow: inset 2px 2px hsl(0 100% 51%);
box-shadow: inset 2px 2px hsl(0 100% 51%);
height: 19px;
right: 12px;
top: 5px;
-webkit-transform: rotate(300deg);
-ms-transform: rotate(300deg);
transform: rotate(300deg);
-webkit-transform-origin: bottom;
-ms-transform-origin: bottom;
transform-origin: bottom;
width: 10px;
}

@-webkit-keyframes fly {
0% {
-webkit-transform: rotate(-20deg);
transform: rotate(-20deg);
}
50% {
-webkit-transform: rotate(-40deg);
transform: rotate(-40deg);
}
}

@keyframes fly {
0% {
-webkit-transform: rotate(-20deg);
transform: rotate(-20deg);
}
50% {
-webkit-transform: rotate(-40deg);
transform: rotate(-40deg);
}
}

@-webkit-keyframes cursorAnim {
0% {
-webkit-transform: scale(1);
transform: scale(1);
}
to {
-webkit-transform: scale(.7);
transform: scale(.7);
}
}

@keyframes cursorAnim {
0% {
-webkit-transform: scale(1);
transform: scale(1);
}
to {
-webkit-transform: scale(.7);
transform: scale(.7);
}
}

.cursor {
-webkit-animation: cursorAnim 1s infinite alternate;
animation: cursorAnim 1s infinite alternate;
height: 40px;
pointer-events: none;
position: absolute;
-webkit-transition-duration: .2s;
-o-transition-duration: .2s;
transition-duration: .2s;
-webkit-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
width: 40px;
z-index: 998;
}

.c_p_01 {
left: 35px;
}

.c_p_01,
.c_p_02 {
background: hsl(0 100% 51%);
border-radius: 50% / 50%;
-webkit-box-shadow: inset 0 1px #ff0505;
box-shadow: inset 0 1px #ff0505;
height: 3px;
position: absolute;
top: 18px;
width: 3px;
z-index: 104;
}

.c_p_02 {
left: 42px;
}

.c_e_01 {
-webkit-box-shadow: inset .5px 3px #fc6;
box-shadow: inset .5px 3px #fc6;
left: 28px;
z-index: 103;
}

.c_e_01,
.c_e_02 {
background: #fff;
border: 1px solid #000;
border-radius: 50% / 50%;
height: 10px;
position: absolute;
top: 15px;
width: 10px;
}

.c_e_02 {
-webkit-box-shadow: inset 1px 3px #fc6;
box-shadow: inset 1px 3px #fc6;
left: 34px;
-webkit-transform: rotate(-5deg);
-ms-transform: rotate(-5deg);
transform: rotate(-5deg);
z-index: 102;
}

.c_m {
background: hsl(240 68% 94%);
-webkit-box-shadow: inset 0 1px hsl(240 68% 94%);
box-shadow: inset 0 1px hsl(240 68% 94%);
height: 3px;
left: 37px;
top: 27px;
width: 3px;
z-index: 104;
}

.c_b {
background: hsl(0 100% 51%);
border: 1px solid hsl(0 94% 24%);
border-radius: 50% 50% 50% 50%;
-webkit-box-shadow: inset -3px 7px hsl(338 100% 54%);
box-shadow: inset -3px 7px hsl(0 100% 51%);
height: 19px;
left: 12px;
position: relative;
top: 17px;
-webkit-transform: rotate(-10deg);
-ms-transform: rotate(-10deg);
transform: rotate(-10deg);
width: 26px;
z-index: 100;
}

.c_w_01 {
-webkit-box-shadow: inset 1.5px 0 hsl(0 100% 51%);
box-shadow: inset 1.5px 0 hsl(0 100% 51%);
height: 15px;
right: 3px;
top: 6px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transform-origin: bottom;
-ms-transform-origin: bottom;
transform-origin: bottom;
width: 9px;
}

.c_w_01,
.c_w_02 {
-webkit-animation: fly .1s ease infinite;
animation: fly .1s ease infinite;
background: hsl(0 100% 51%);
border: .5px solid hsl(0 100% 51%);
border-radius: 100px / 160px;
position: absolute;
}

#devina_intro {
display: flex;
justify-content: center;
align-items: flex-start;
min-height: 100vh;
flex-direction: column;
padding: 0;
margin: 0;
text-align: left;
}

#devina_intro h2 {
font-size: 5rem;
margin: 25px 0;
font-weight: bold;
font-family: var(--font-family-2);
}

#devina_intro span {
font-size: 2rem;
font-family: var(--font-family-2);
font-weight: 200;
}

#devina_intro .btn-agl {
background: white;
border: none;
border-radius: 50px;
color: black;
padding: 12px 25px;
font-size: 1.5em;
font-weight: bold;
cursor: pointer;
}

#devina_intro .btn-agl:hover {
background: var(--ina-red);
color: var(--ina-color);
}


@media (max-width:1024px) {
#devina_intro span {
font-size: 15px;
}
#devina_intro h2 {
font-size: 3.5rem;
margin: 0 0 15px;
}
#devina_intro .btn-agl {
padding: 10px 15px;
}
}


@media (max-width:678px) {
#devina_intro span {
font-size: 15px;
}
#devina_intro h2 {
font-size: 2rem;
margin: 0 0 15px;
}
#devina_intro .btn-agl {
padding: 10px 15px;
}
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
#devina_intro {
padding: 15px 0;
margin: 20px 0 0;
}
}

#id-circle-4 {
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
padding: 2px 0 2px;
height: 20px;
margin: 50px 0;
}
@media (max-width:678px) {
#id-circle-4 {
padding: 20px 1% 20px;
}
}
.circle {
font-family: var(--font-family-3);
position: relative;
width: 100%;
height: 200px;
border-radius: 100vmax;
display: flex;
align-items: center;
justify-content: center;
}

.div-circle {
display: grid;
grid-template-columns: repeat(2,1fr);
align-items: center;
width: fit-content;
gap: 100px;
}

.div-circle h2 {
font-size: 6rem;
font-family: var(--font-family-3);
color: var(--ina-color-2);
font-weight: 500;
text-shadow: 4px 4px 8px rgb(0 0 0 / 10%);
}
@media (max-width: 1024px) {
.div-circle {
gap: 50px;
}
.div-circle h2 {
font-size: 3rem;
}}
@media (max-width: 678px) {
.div-circle {
gap: 35px;
}
.div-circle h2 {
font-size: 2.5rem;
}}


@keyframes textRotation {
to {
transform: rotate(360deg);
}
}

.devinacircletext4 {
position: absolute;
width: 0%;
height: 50%;
font-family: consolas;
color: var(--ina-color-2);
font-size: 12px;
animation: textRotation 8s linear infinite;
text-transform: uppercase;
font-family: var(--font-family-2);
font-weight: bold;
}

.devinacircletext4 div {
position: absolute;
left: 50%;
font-size: 12px;
transform-origin: 0 50px;
}

#id-circle-4 h2 {
color: white;
}

.agl_color-circle-4 {
color: white;
}

.agl_subscribe {
background: linear-gradient(145deg, #00bcd4, #f2f2f2);
border-radius: 15px;
padding: 10px 12px;
transition: all 0.3s ease;
display: flex;
justify-content: space-between;
align-items: center;
max-width: 500px;
width: 100%;
margin: 0;
}

.agl_subscribe:hover {
box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.1), 2px -6px 16px rgba(255, 255, 255, 0.7);
}

.agl_subscribe input {
padding: 10px;
margin-right: 10px;
border: none;
border-radius: 10px;
width: 70%;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.7);
transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.agl_subscribe input:focus {
outline: none;
transform: translateY(-2px);
box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2), -8px -8px 20px rgba(255, 255, 255, 0.7);
}

.agl_subscribe button {
padding: 10px 20px;
border: none;
background: red;
color: white;
font-size: 16px;
border-radius: 10px;
cursor: pointer;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.7);
transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
width: 25%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.agl_subscribe button:hover {
background: red;
transform: translateY(-2px);
box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2), -6px -6px 15px rgba(255, 255, 255, 0.6);
}

.agl_subscribe button:active {
transform: translateY(0);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.7);
}

@media (max-width: 678px) {
.agl_subscribe {
max-width: 300px;
}

.agl_subscribe input {
width: 50%;
margin-right: 5px;
}

.agl_subscribe button {
width: 50%;
}
}

@media (max-width: 480px) {
.agl_subscribe {
max-width: 150px;
}
.agl_subscribe button {
font-size: 15px;
}
}

.follow-Up {
opacity: 0;
transform: translateY(30px);
animation: follow-Up 3s forwards;
}
@keyframes follow-Up {
0% {
opacity: 0;
transform: translateY(30px);
}
100% {
opacity: 1;
transform: translateY(0);
}
}

.delay-0_1s {
animation-delay: 0.5s;
}
.delay-1s {
animation-delay: 1s;
}
.delay-1_5s {
animation-delay: 1.5s;
}
.delay-2s {
animation-delay: 2s;
}
.delay-2_5s {
animation-delay: 2.5s;
}

#sidebar {
text-align: center;
width: 250px;
padding: 60px 0 15px;
position: fixed;
top: 0;
left: 0;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
overflow-y: scroll;
text-align: center;
}
body#index.h-multiitem #sidebar {
background: var(--ina-bg);
color: var(--ina-color);
box-shadow: var(--box-shadow-none);
}
body#index.singleitem #sidebar {
background: var(--ina-img);
color: var(--ina-color-2);
box-shadow: var(--box-shadow);
}

body#index.nofound #sidebar {
background: var(--ina-img-3);
box-shadow: var(--box-shadow);
}

#sidebar h2 {
font-size: 1.5rem;
font-family: var(--font-family-3);
font-weight: 800;
}

#sidebar a {
text-decoration: none;
font-weight: 500;
padding: 10px 25px 10px;
margin-bottom: 10px;
font-family: var(--font-family-2);
font-size: 1.2rem;
cursor: pointer;
}

body#index.h-multiitem #sidebar a:link,
body#index.h-multiitem #sidebar a:visited,
body#index.h-multiitem #sidebar a:active {
color: var(--ina-color);
}

body#index.h-multiitem #sidebar h2, 
body#index.h-multiitem #sidebar a {
color: var(--ina-color);
}

body#index.singleitem #sidebar h2,
body#index.singleitem #sidebar a {
color: var(--ina-color-2);
}

body#index.nofound #sidebar h2,
body#index.nofound #sidebar a {
color: var(--ina-color-2);
}

body#index.h-multiitem #sidebar a:hover {
background: var(--ina-img);
color: var(--ina-color-2);
}

body#index.nofound #sidebar a,
body#index.singleitem #sidebar a:hover {
background: var(--ina-bg);
color: var(--ina-color);
}

@media (max-width: 1200px) {
#sidebar {
display: none;
}
}

body#index.home footer,
body#index.nofound footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
padding: 5px 0;
background: none;
}

body#index.h-multiitem footer,
body#index.singleitem footer {
position: fixed;
bottom: 0;
left: 0;
width: 240px;
padding: 5px 0;
background:none;
}

@media (max-width: 1200px) {
body#index.multiitem footer,
body#index.singleitem footer {
width: 100%;
}
body#index.h-multiitem footer {
background: var(--ina-bg);
box-shadow: var(--box-shadow-none);
}
body#index.singleitem footer {
background: none;
box-shadow: none;
}
}

footer .p_2025 {
font-family: var(--font-family-2);
font-weight: 400;
}

body#index.home footer .p_2025,
body#index.nofound footer .p_2025 {
text-align: left;
margin-left: 1rem;
}
body#index.home footer .p_2025 {
color: var(--ina-color);
text-shadow: var(text-shadow-none);
}

body#index.nofound footer .p_2025,
body#index.singleitem footer .p_2025 {
color: var(--ina-color-2);
text-shadow: var(text-shadow);
}

body#index.home .menu-wrapp {
position: fixed;
bottom: 0;
right: 3rem;
width: 15%;
background: transparent;
color: var(--ina-color);
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 0;
}
@media (max-width: 1200px) {
body#index.home .menu-wrapp {
display: none;
}
}
body#index.home .icon-wrapp {
text-align: center;
}
body#index.home .icon-wrapp svg {
margin: 0;
width: 30px;
height: 30px;
}

body#index.home .icon-wrapp p{
font-size: 15px;
margin: 0;
}
body#index.home .icon-wrapp a{
text-decoration: none;
font-size: 16px;
color: var(--ina-color);
cursor: pointer;
padding: 0 8px;
}
body#index.home .icon-wrapp a:hover{
background: var(--ina-img);
color: var(--ina-color-2);
}

#backToTop {
position: fixed;
bottom: 10px;
right: 15px;
background-image: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
color: white;
border: none;
border-radius: 50px;
width: 60px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
font-weight: bold;
cursor: pointer;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

#backToTop:hover {
opacity: 1;
transform: scale(1.1);
}

#backToTop.show {
opacity: 1;
visibility: visible;
transition: opacity 0.3s ease, transform 0.3s ease;
}

#contact-form{
background: linear-gradient(268deg, #82a2d5, #94a5df, #BBDAEC, #8fc9e9);
padding: 25px;
margin: 25px 0;
border-radius: 12px;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2), -4px -4px 20px rgba(255, 255, 255, 0.4);
width: 100%;
max-width: 500px;
transition: all 0.3s ease-in-out;
width: -webkit-fill-available;
}
#contact-form input,
#contact-form textarea,
#contact-form select {
width: 100%;
padding: 12px;
margin: 8px 0;
border: 2px solid #93cee7;
border-radius: 8px;
font-size: 1em;
background-color: white;
color: #333;
transition: all 0.3s ease;
box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
box-sizing: border-box;
}

#contact-form input:focus,
#contact-form textarea:focus,
#contact-form select:focus {
border-color: #ee86a1;
box-shadow: 0 0 5px rgba(147, 206, 231, 0.8), inset 0 0 10px rgba(0, 0, 0, 0.2);
outline: none;
}

#contact-form button {
background-color: #93cee7;
color: white;
border: none;
padding: 12px 20px;
font-size: 1.2em;
font-weight: bold;
border-radius: 8px;
cursor: pointer;
transition: all 0.3s ease;
width: 100%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(255, 255, 255, 0.4);
}

#contact-form button:hover {
background-color: #ee86a1;
transform: translateY(-5px);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 -8px 16px rgba(255, 255, 255, 0.4);
}

#contact-form button:active {
transform: translateY(1px);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
#contact-form {
padding: 15px;
}
#contact-form input,
#contact-form textarea,
#contact-form select,
#contact-form button {
font-size: 1em;
}
}

.agl-1 {
opacity: 0;
transform: translateY(30px);
transition: opacity 3s ease, transform 3s ease;
}

.agl-1.active {
opacity: 1;
transform: translateY(0);
}

@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

.agl-2 {
animation: fadeIn 1.5s ease-in-out;
}

.follow-in-up {
opacity: 0;
transform: translateY(50px);
transition: opacity 2.5s ease, transform 2.5s ease;
}

.follow-in-up.visible {
opacity: 1;
transform: translateY(0);
}

.follow-in-up.hidden {
opacity: 0;
transform: translateY(50px);
}


.slide_view {
position: relative;
bottom: -40px;
transition: bottom 2.5s ease;
}

.slide_view.visible {
bottom: 0;
}

.first-visible {
opacity: 1;
transform: translateY(0);
transition: transform 3.5s ease, opacity 3.5s ease;
}

.first-invisible {
opacity: 0;
transform: translateY(50px);
transition: transform 2.5s ease, opacity 2.5s ease;
}
