:root{
--c1:transparent;
--c2:transparent;
--color-x:transparent;
--devinaWhite:white;
--devinaBlack:black;
--devinaRed:red;
--agl-bg-image:linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC,#AED7ED);
--agl-font-family:"Poppins", serif;
}
html {
scroll-behavior: smooth;
}
html,body{padding:0;margin:0}
.ina-anim {
opacity: 0;
transform: translateY(50px);
transition: opacity 1s ease, transform 1s ease;
}
.ina-anim.visible {
opacity: 1;
transform: translateY(0);
}
.widget .title {
display: none;
}

/* cart icon */

.cart-icon {
position: fixed;
top: 0;
right: 1rem;
font-size: 1.7em;
cursor: pointer;
z-index: 5;
}

.cart-count {
background-color: var(--devinaRed);
color: var(--devinaWhite);
border-radius: 50%;
padding: 2px 7px;
margin: 0;
font-size: 10px;
position: fixed;
top: 0.4rem;
right: 0.5rem;
}

.xx-footer {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
background: var(--agl-bg-image);
color: var(--devinaWhite);
padding: 20px;
margin-top: 40px;
text-align: center;
box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}

.xx-footer h3 {
font-size: 1.2em;
margin-bottom: 10px;
}

.xx-footer div {
padding: 0;
background-image: none;
text-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
box-shadow: none;
}

@media (max-width: 1200px)
body.home .xx-footer {
  padding:15px;
  }
}
@media (max-width:1200px){
.xx-footer {
padding: 0;
background: transparent;
color: var(--devinaWhite);
box-shadow:none;
}

.xx-footer div {
padding: 10px;
background-image: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC,#AED7ED);
box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}
}

@media (max-width: 768px) {
.xx-footer {
grid-template-columns: 1fr;
}
}

.area-text-footer {
position: relative;
color: black;
padding: 15px 0 100px;
text-align: center;
font-size: 15px;
background-image: var(--agl-bg-image);
}

@media (max-width:1200px){
.area-text-footer {
background-image:none;
}
}

/* popular produk */

.agl-devina-container {
backdrop-filter: blur(5px);
margin: 50px 0;

}

.agl-devina-container h2 {
font-size:5rem;
}

.agl-devina-container h2 {
text-align: center;
text-shadow:4px 4px 8px rgba(0,0,0,0.5);
color:var(--devinaBlack);
text-transform: uppercase;
}

@media (max-width: 1200px) {
.agl-devina-container h2 {
font-size:3rem;
}
}

@media (max-width: 768px) {
.agl-devina-container h2 {
font-size:2rem;
}
}

.product-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 15px;
padding: 0;
}

@media (max-width: 1200px) {
.product-grid {
grid-template-columns: repeat(3, 1fr);
}
}


@media (max-width: 1024px) {
.product-grid {
grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 678px) {
.product-grid {
grid-template-columns: repeat(2, 1fr);
}
}

.product {
background: transparent;
padding: 15px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
text-align: center;
position:sticky;
top:80px;
background-image: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC,#AED7ED);
}

.product h3 {
margin: 10px 0;
text-shadow: 4px 4px 8px rgb(0 0 0 / 50%);
color: var(--devinaWhite);
text-transform: uppercase;
font-size:1.5rem;
}

.product p {
margin: 10px 0;
}

.product .img-produk{
width:100px;
height:120px;
}

@media (min-width: 768px) {
.product .img-produk{
width:100px;
height:150px;
}
}

@media (min-width: 1024px) {
.product .img-produk{
width:100px;
height:150px;
}
}

@media (min-width: 1200px) {
.product .img-produk{
width:100%;
height:auto;
}
}

.product button {
background: white;
color: var(--devinaBlack);
font-weight:700;
border: none;
padding: 10px;
border-radius: 50px;
cursor: pointer;
margin-top: 10px;
}

.product button:hover {
background: black;
color:var(--devinaWhite);
}

.cart-item button {
background: var(--devinaRed);
color: var(--devinaWhite);
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}

.area-keranjang-container{
display: flex;
flex-direction: column;
place-items: center;
}

.area-cart{
display: flex;
align-items: center;
justify-content: flex-end;
flex-direction: column;
}

.cart-item div{
flex-direction: row;
display: flex;
}

.cart-item span,.cart-item button{
margin: 5px;
}

.cart-item .quantity {
padding: 15px;
}

.cart-modal-items .cart-item {
display: flex;
justify-content: space-between;
align-items: center;
margin: 15px;
background: hsl(240, 67%, 94%);
padding: 10px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-modal-items p{
color: var(--devinaWhite);
text-align:center;
}

.area-cart .cart-item {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
background: var(--agl-bg-image);
padding: 10px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item button {
background: var(--devinaWhite);
color: var(--devinaBlack);
}

.cart-item .quantity {
margin: 0 10px;
}

#total {
text-align: center;
font-size: 1.2em;
font-weight: bold;
margin: 15px;
}

.checkout-btn {
background: transparent;
color: white;
padding: 12px 30px;
font-size: 1.2em;
border-radius: 50px;
cursor: pointer;
display: none;
margin: 0;
border: 1px solid var(--devinaWhite);
}

.checkout-btn:hover {
background: var(--devinaBlack);
}

/* Modal Styles */
.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
z-index: 9999;
align-items: center;
justify-content: center;
padding: 0;
}

.modal-content {
background: transparent;
padding: 30px;
border-radius: 10px;
width: 80%;
max-width: 600px;
}

.modal-header {
color: var(--devinaWhite);
padding: 15px;
text-align: center;

}

.modal-header h2 {
margin: 0;
}

.close {
font-size: 2rem;
cursor: pointer;
position: absolute;
top: 1rem;
right: 1rem;

}

.cart-modal-items {
max-height: 400px;
overflow-y: auto;
margin: 15px;
}

.modal-footer {
text-align: center;
margin-top: 20px;
}

.modal-footer a {
background: var(--devinaRed);
color: var(--devinaWhite);
padding: 12px 20px;
font-size: 1.2em;
text-decoration: none;
border-radius: 50px;
}

.modal-footer a:hover {
background: var(--devinaBlack);
}

/* popup Profil demo */
.popupProfil {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
justify-content: center;
align-items: center;
z-index:5;
}

.popup-agl-content {
background: transparent;
padding: 30px;
border-radius: 8px;
width: 400px;
text-align: center;
position: relative;
}

.popup-agl-content h2{
color: var(--devinaWhite);
}

.popup-agl-content .close-btn {
position: fixed;
top: 1rem;
right: 1rem;
background: transparent;
color: var(--devinaWhite);
border: none;
font-size: 2rem;
cursor: pointer;
}

.popup-agl-content .close-btn:hover{
color: var(--devinaRed);
}

.popup-agl-content input {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 5px;
background: transparent;
}

.popup-agl-content .followUs {
padding: 10px 20px;
background: var(--devinaWhite);
color: var(--devinaBlack);
border: none;
border-radius: 50px;
cursor: pointer;
text-transform: uppercase;

}

.popup-agl-content .followUs:hover {
color: var(--devinaWhite);
background:red;
}

.popup-agl-content p{
color:var(--devinaWhite);
font-size:1rem;
text-align:center;
margin-bottom:25px;
}
