:root {
--c1: rgb(90,90,90,.2);
--c2: rgb(60,60,60,.6);
--c3: transparent;
--ina-bg: hsl(0 0% 0%);
--ina-bg-2: hsl(240, 67%, 94%);
--ina-bg-sm: hsl(0 0% 0%);
--ina-color: hsl(240, 67%, 94%);
--ina-color-2: hsl(0 0% 0%);
--ina-color-sm: hsl(240, 67%, 94%);
--ina-white: white;
--ina-black: black;
--ina-red: red;
--ina-bg-button: hsl(220, 5%, 36%);
--ina-img: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
--ina-img-2: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
--text-shadow: none;
--text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
--box-shadow-none: none;
--border-none: none;
--box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
--font-family-1: "Poppins", serif;
--font-family-2: "Cutive Mono", serif;
--font-family-3: "Oswald", serif;
}

:root.mode-light {
--c1: rgb(90,90,90,.06);
--c2: rgb(60,60,60,.06);
--c3: transparent;
--ina-bg: hsl(240, 67%, 94%);
--ina-bg-2: hsl(0 0% 0%);
--ina-bg-sm: hsl(0 0% 0%);
--ina-color: hsl(0 0% 30%);
--ina-color-2: hsl(240, 67%, 94%);
--ina-color-sm: hsl(240, 67%, 94%);
--ina-black: white;
--ina-white: black;
--ina-red: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
--ina-bg-button: hsl(220, 5%, 36%);
--ina-img: linear-gradient(268deg, #000, #000, #000, #000);
--ina-img-2: linear-gradient(268deg, hsl(240, 67%, 94%), hsl(240, 67%, 94%), hsl(240, 67%, 94%), hsl(240, 67%, 94%));
--text-shadow: none;
--text-shadow-none: 1px 1px 2px rgba(0, 0, 0, 0.2);
--box-shadow: none;
--box-shadow-none: 0 4px 30px rgba(0, 0, 0, 0.1);
--border-none: 1px solid hsl(240, 67%, 94%);
}

html {
scroll-behavior: smooth;
}
html{
scrollbar-color:auto;
}
@media (max-width:678px) {
html{
scrollbar-color:transparent transparent;
}}

body, html {
padding: 0;
margin: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-smoothing: antialiased;
}
body {
font-family: var(--font-family-1);
}

body:before{
content:"";
min-height:100vh;
width:100%;
position:fixed;
background-image:
linear-gradient(var(--c3) 2px,transparent 2px),linear-gradient(90deg,var(--c3) 2px,transparent 2px),linear-gradient(var(--c3) 1px,transparent 1px),linear-gradient(90deg,var(--c3) 1px,transparent 1px);
background-size:100px 100px,100px 100px,20px 20px,20px 20px;
background-attachment:fixed;
background-position:center;
mask:linear-gradient(0deg,transparent 5%,var(--c3));
top:0;
left:0;
z-index:-1;
transform:translate3d(0,0,-100vmin);
}

header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 15px 0;
z-index: 3;
}
header h1 {
font-family: var(--font-family-2);
font-size: 1.3rem;
text-shadow: var(--text-shadow);
}

body.agl-body.multiitem header {
background: var(--ina-bg);
color: var(--ina-color);
box-shadow: var(--box-shadow-none);
}
@media (max-width: 1024px) {
body.agl-body.multiitem header {
background: var(--ina-img);
color: var(--ina-color-2);
box-shadow: var(--box-shadow);
}}
@media (max-width: 678px) {
body.agl-body.multiitem header {
background: var(--ina-bg);
color: var(--ina-color);
box-shadow: var(--box-shadow-none);
}}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
body.agl-body.multiitem header {
background: var(--ina-white);
color: var(--ina-color-2);
box-shadow: var(--box-shadow);
}}

.cart-icon {
position: fixed;
top: 1.5rem;
right: 1rem;
font-size: 1.7em;
cursor: pointer;
z-index: 5;
}

.cart-count {
background: var(--ina-red);
color: var(--ina-color);
border-radius: 50%;
padding: 2px 7px;
margin: 0;
font-size: 10px;
position: fixed;
top: 1rem;
right: 0.5rem;
}

body.agl-body.multiitem .cart-icon svg {
fill: var(--ina-color);
}

@media (max-width: 1024px) {
body.agl-body.multiitem.cart-icon svg{
fill: var(--ina-color-2);
}}

@media (max-width: 678px) {
body.agl-body.multiitem .cart-icon svg {
fill: var(--ina-color);
}}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
body.agl-body.multiitem .cart-icon svg {
fill: var(--ina-color-2);
}}

.theme-color {
position: fixed;
top: 1rem;
right: 3rem;
width: 48px;
aspect-ratio: 1;
padding: 0;
border: 0;
display: grid;
place-items: center;
border-radius: 12px;
background: transparent;
transition: background 0.2s;
cursor: pointer;
z-index: 3;
}

body.agl-body.multiitem .theme-color {
color: var(--ina-color);
}
@media (max-width: 1024px) {
body.agl-body.multiitem .theme-color {
color: var(--ina-color-2);
}}
@media (max-width: 678px) {
body.agl-body.multiitem .theme-color {
color: var(--ina-color);
}}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
body.agl-body.multiitem .theme-color {
color: var(--ina-color-2);
}}
.theme-color[aria-pressed="true"] svg path:last-of-type {
display: block;
}

.theme-color svg {
color: currentColor;
width: 50%;
}

.theme-color[aria-pressed="true"] svg path:first-of-type,
.theme-color svg path:last-of-type {
display: none;
}

::view-transition-group(root) {
animation-duration: 1.25s;
}

::view-transition-old(root),
::view-transition-new(root) {
mix-blend-mode: normal;
}

::view-transition-old(root) {
animation: none;
}

::view-transition-new(root) {
z-index: 2;
}

::view-transition-new(root),
::view-transition-old(root) {
animation: none;
mix-blend-mode: normal;
height: 100%;
width: 100%;
}

::view-transition-new(root) {
z-index: 2;
animation: slice 1s;
}

@keyframes slice {
0% {
clip-path: polygon(0 -110%, 25% -110%, 25% -110%, 50% -110%, 50% -110%, 75% -110%, 75% -110%, 100% -110%, 100% -110%, 75% -110%, 75% -110%, 50% -110%, 50% -110%, 25% -110%, 25% -110%, 0 -110%);
}

100% {
clip-path: polygon(0 0, 25% 0, 25% 0, 50% 0, 50% 0, 75% 0, 75% 0, 100% 0, 100% calc(100% + 40px), 75% calc(100% + 40px), 75% calc(100% + 100px), 50% calc(100% + 100px), 50% calc(100% + 60px), 25% calc(100% + 60px), 25% 100%, 0 100%);
}
}

.modal {
color: hsl(240, 67%, 94%);
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
z-index: 9999;
align-items: center;
justify-content: center;
padding: 0;
text-align: center;
}

.modal-content {
background: transparent;
padding: 30px;
border-radius: 10px;
width: 80%;
max-width: 600px;
}

.modal-header {
color: hsl(240, 67%, 94%);
padding: 15px;
text-align: center;
}

.modal-header h2 {
margin: 0;
}

.modal .close {
color: hsl(240, 67%, 94%);
font-size: 2rem;
cursor: pointer;
position: absolute;
top: 1rem;
right: 1rem;
}

.cart-modal-items {
max-height: 400px;
overflow-y: auto;
margin: 15px;
}

.modal-footer {
text-align: center;
margin-top: 35px;
}

.modal-footer a {
background-image: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
color: black;
padding: 12px 20px;
font-size: 1.2em;
text-decoration: none;
border-radius: 50px;
}

.modal-footer a:hover {
background: red;
color: hsl(240, 67%, 94%);
}

.c_h,.c_m{
border-radius:50%/50%;
position:absolute;
}
.c_h{
background:hsl(0 100% 51%);
border:1px solid hsl(240 68% 94%);
-webkit-box-shadow:inset 0 5px hsl(240 68% 94%);
box-shadow:inset 0 5px hsl(0 100% 51%);
height:16px;
left:25px;
top:16px;
width:16px;
z-index:66;
}
#lgs{
height:22px;
left:16px;
position:absolute;
top:28px;
width:22px;
z-index:66;
}
.c_w_02{
-webkit-box-shadow:inset 2px 2px hsl(0 100% 51%);
box-shadow:inset 2px 2px hsl(0 100% 51%);
height:19px;
right:12px;
top:5px;
-webkit-transform:rotate(300deg);
-ms-transform:rotate(300deg);
transform:rotate(300deg);
-webkit-transform-origin:bottom;
-ms-transform-origin:bottom;
transform-origin:bottom;width:10px;
}
@-webkit-keyframes fly{0%{
-webkit-transform:rotate(-20deg);
transform:rotate(-20deg);
}
50%{-webkit-transform:rotate(-40deg);
transform:rotate(-40deg);
}}
@keyframes fly{0%{
-webkit-transform:rotate(-20deg);
transform:rotate(-20deg);
}
50%{-webkit-transform:rotate(-40deg);
transform:rotate(-40deg);
}}
@-webkit-keyframes cursorAnim{0%{
-webkit-transform:scale(1);
transform:scale(1);
}
to{-webkit-transform:scale(.7);
transform:scale(.7);
}}
@keyframes cursorAnim{0%{
-webkit-transform:scale(1);
transform:scale(1)}to{
-webkit-transform:scale(.7);
transform:scale(.7);
}}
.cursor{
-webkit-animation:cursorAnim 1s infinite alternate;
animation:cursorAnim 1s infinite alternate;
height:40px;
pointer-events:none;
position:absolute;
-webkit-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
-webkit-transition-timing-function:ease-out;
-o-transition-timing-function:ease-out;
transition-timing-function:ease-out;
width:40px;
z-index:999;
}
.c_p_01{left:35px}
.c_p_01,.c_p_02{background:hsl(0 100% 51%);
border-radius:50%/50%;
-webkit-box-shadow:inset 0 1px #ff0505;
box-shadow:inset 0 1px #ff0505;
height:3px;
position:absolute;
top:18px;
width:3px;
z-index:666;
}
.c_p_02{left:42px}
.c_e_01{
-webkit-box-shadow:inset .5px 3px #fc6;
box-shadow:inset .5px 3px #fc6;
left:28px;
z-index:99;
}
.c_e_01,.c_e_02{background:#fff;
border:1px solid #000;
border-radius:50%/50%;
height:10px;
position:absolute;
top:15px;
width:10px;
}
.c_e_02{
-webkit-box-shadow:inset 1px 3px #fc6;
box-shadow:inset 1px 3px #fc6;
left:34px;
-webkit-transform:rotate(-5deg);
-ms-transform:rotate(-5deg);
transform:rotate(-5deg);
z-index:66;
}
.c_m{
background:hsl(240 68% 94%);
-webkit-box-shadow:inset 0 1px hsl(240 68% 94%);
box-shadow:inset 0 1px hsl(240 68% 94%);
height:3px;
left:37px;
top:27px;
width:3px;
z-index:666;
}
.c_b{
background:hsl(0 100% 51%);
border:1px solid hsl(0 94% 24%);
border-radius:50% 50% 50% 50%;
-webkit-box-shadow:inset -3px 7px hsl(338 100% 54%);
box-shadow:inset -3px 7px hsl(0 100% 51%);
height:19px;
left:12px;
position:relative;
top:17px;
-webkit-transform:rotate(-10deg);
-ms-transform:rotate(-10deg);
transform:rotate(-10deg);
width:26px;
z-index:19;
}
.c_w_01{
-webkit-box-shadow:inset 1.5px 0 hsl(0 100% 51%);
box-shadow:inset 1.5px 0 hsl(0 100% 51%);
height:15px;
right:3px;
top:6px;
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);
-webkit-transform-origin:bottom;
-ms-transform-origin:bottom;
transform-origin:bottom;
width:9px;
}
.c_w_01,.c_w_02{
-webkit-animation:fly .1s ease infinite;animation:fly .1s ease infinite;
background:hsl(0 100% 51%);
border:.5px solid hsl(0 100% 51%);
border-radius:100px/160px;
position:absolute;
}

.m__i a {
font-weight: 700;
z-index: 6;
}

.n-m {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 5;
height: 100vh;
top: 0;
left: -100%;
position: fixed;
transition: left 0s calc(0.5s * 2), transform 0s calc(0.5s * 2);
width: 100%;
}

.n-m::before,
.n-m::after {
content: "";
height: 50%;
left: 0;
position: absolute;
transform: translateX(-110%);
transform-origin: 0 50%;
transition: transform calc(0.5s * 2) 0.5s cubic-bezier(.215, .61, .355, 1);
width: 100%;
z-index: -100;
}

.n-m::before {
top: 0;
}

.n-m::after {
bottom: 0;
}

.n-m .m__i {
opacity: 0;
transform: translateX(-1rem);
transition: opacity 0.5s cubic-bezier(.215, .61, .355, 1), transform 0.5s cubic-bezier(.215, .61, .355, 1);
}

[id=x-mn] {
opacity: 0;
position: fixed;
top: -100%;
}

[id=x-mn] ~ label {
cursor: pointer;
position: fixed;
left: .8rem;
top: 1rem;
z-index: 6;
}

@media only screen and (min-width: 1200px) {
[id=x-mn] ~ label {
display: none;
}
}

[id=x-mn] ~ label span {
display: block;
height: 2rem;
padding: .5rem;
position: relative;
transition: transform calc(0.5s * 3) cubic-bezier(.215, .61, .355, 1);
width: 2.5rem;
}

[id=x-mn] ~ label span::before,
[id=x-mn] ~ label span::after {
bottom: 0;
content: "";
height: 4px;
left: 0;
margin: auto;
position: absolute;
right: 0;
transition: transform calc(0.5s * 3) cubic-bezier(.215, .61, .355, 1);
top: 0;
width: calc(100% - 1rem);
}

[id=x-mn] ~ label span::before {
transform: rotate(0) translateY(-100%);
}

[id=x-mn] ~ label span::after {
transform: rotate(0) translateY(100%);
}

[id=x-mn]:checked ~ label span {
transform: rotate(1turn);
}

[id=x-mn]:checked ~ label span::before {
transform: rotate(45deg);
}

[id=x-mn]:checked ~ label span::after {
transform: rotate(-45deg);
}

[id=x-mn]:checked ~ .n-m {
left: 0;
transition: transform 0s;
}

[id=x-mn]:checked ~ .n-m::before,
[id=x-mn]:checked ~ .n-m::after {
transform: translateX(0);
transition-delay: 0s;
}

[id=x-mn]:checked ~ .n-m::after {
transition-delay: calc(0.5s / 2);
}

[id=x-mn]:checked ~ .n-m .m__i {
opacity: 1;
transform: translateX(0);
transition: opacity calc(0.5s * 2) cubic-bezier(.215, .61, .355, 1), transform calc(0.5s * 2) cubic-bezier(.215, .61, .355, 1);
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(1) {
transition-delay: calc(0.5s * 2 * (1 * 0.25));
z-index: -1;
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(2) {
transition-delay: calc(0.5s * 2 * (2 * 0.25));
z-index: -2;
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(3) {
transition-delay: calc(0.5s * 2 * (3 * 0.25));
z-index: -3;
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(4) {
transition-delay: calc(0.5s * 2 * (4 * 0.25));
z-index: -4;
}

[id=x-mn]:checked ~ .n-m .m__i:nth-child(5) {
transition-delay: calc(0.5s * 2 * (5 * 0.25));
z-index: -5;
}

.menu {
text-transform: uppercase;
font-family: "Oswald", serif;
position: relative;
text-align: center;
padding: 0;
margin: 0;
z-index: 1;
}

.menu > .m__i {
font-size: 2.5rem;
font-family: "Oswald", serif;
line-height: 2.8rem;
text-align: center;
}

.submenu {
margin: 15px 0 0;
white-space: nowrap;
text-transform: initial;
left: 0;
opacity: 0;
position: absolute;
transform: translateY(-10%);
top: 100%;
width: 100%;
visibility: hidden;
z-index: 2;
}

.submenu .m__i {
font-family: "Cutive Mono", monospace;
font-size: 1.8rem;
text-align: center;
width: 100%;
line-height: 1.5rem;
margin: 0;
}

.submenu .m__l {
color: #75757C;
}

.submenu .m__l::before,
.submenu .m__l::after {
display: none;
}

.m__i {
display: block;
position: relative;
}

.m__i:hover .m__l::before,
.m__i:hover .m__l::after {

transform: translateX(calc(100% - 0.5rem));
transition-duration: calc(0.5s * 3);
}

.m__i:hover .m__l::after {
transition-delay: calc(0.5s / 2);
}

.m__i:hover .submenu {
opacity: 1;
transform: translateY(0);
transition: transform calc(0.5s * 2) calc(0.5s * 3) cubic-bezier(.215, .61, .355, 1), opacity calc(0.5s * 2) calc(0.5s * 3) cubic-bezier(.215, .61, .355, 1), visibility 0s calc(0.5s * 3);
visibility: visible;
}

.m__l {
color: pink;
display: inline-block;
font-weight: 400;
overflow: hidden;
padding: 5px 15px 5px;
position: relative;
text-decoration: none;
transition: color 0.5s cubic-bezier(.215, .61, .355, 1), opacity 0.5s cubic-bezier(.215, .61, .355, 1), transform 0.5s cubic-bezier(.215, .61, .355, 1);
z-index: 1;
}

.m__l::before,
.m__l::after {
content: "";
height: 50%;
left: 0;
position: absolute;
transform: translateX(-110%);
transform-origin: 0 50%;
transition: transform 0s cubic-bezier(.215, .61, .355, 1);
width: 100%;
z-index: -1;
}

.m__l::before {
top: 0;
}

.m__l::after {
bottom: 0;
}

.menu:not(:focus-within):not(:hover) .m__i .m__l {
opacity: 1;
transform: translate(0, 0);
}

.m__i {
--pull: 30%;
}

.m__i .m__l {
opacity: .25;
transition-duration: calc(0.5s * 3);
transform: translate(0, calc(var(--pull) * -1));
}

.m__i .submenu .m__l {
opacity: 1;
}

.m__i:hover > .m__l {
color: #75757C;
opacity: 1;
transform: translate(0, 0);
}

.m__i:hover > .m__l:hover {
transition-delay: 0s;
}

.m__i:hover ~ .m__i > .m__l {
transition-duration: calc(0.5s * 3);
transform: translate(0, var(--pull));
}

/* here */

body.agl-body.multiitem .n-m a:link {
color: var(--ina-color);
}

body.agl-body.multiitem .n-m a:visited {
color: var(--ina-color);
}

body.agl-body.multiitem .n-m a:active {
color: var(--ina-color);
}

body.agl-body.multiitem .n-m a:hover {
background: var(--ina-bg-2);
}

body.agl-body.multiitem .n-m::before,
body.agl-body.multiitem .n-m::after {
background: var(--ina-bg);
}

body.agl-body.multiitem [id=x-mn] ~ label span::before,
body.agl-body.multiitem [id=x-mn] ~ label span::after {
background: var(--ina-bg-2) ;
}

body.agl-body.multiitem .m__i:hover > .m__l:hover {
color: var(--ina-color-2);
}

body.agl-body.multiitem .m__l::before,
body.agl-body.multiitem .m__l::after {
content: "";
background: var(--ina-red);
}

@media (max-width: 1024px) {
body.agl-body.multiitem .n-m a:link {
color: var(--ina-color-2);
}

body.agl-body.multiitem .n-m a:visited {
color: var(--ina-color-2);
}

body.agl-body.multiitem .n-m a:active {
color: var(--ina-color-2);
}

body.agl-body.multiitem .n-m a:hover {
background: var(--ina-bg);
}

body.agl-body.multiitem .n-m::before,
body.agl-body.multiitem .n-m::after {
background: var(--ina-img);
}

body.agl-body.multiitem [id=x-mn] ~ label span::before,
body.agl-body.multiitem [id=x-mn] ~ label span::after {
background: var(--ina-bg) ;
}

body.agl-body.multiitem .m__i:hover > .m__l:hover {
color: var(--ina-color);
}

body.agl-body.multiitem .m__l::before,
body.agl-body.multiitem .m__l::after {
content: "";
background: var(--ina-red);
}
}
@media (max-width: 678px) {
body.agl-body.multiitem .n-m a:link {
color: var(--ina-color);
}
body.agl-body.multiitem .n-m a:visited {
color: var(--ina-color);
}
body.agl-body.multiitem .n-m a:active {
color: var(--ina-color);
}
body.agl-body.multiitem .n-m a:hover {
background: var(--ina-bg-2);
}
body.agl-body.multiitem .n-m::before,
body.agl-body.multiitem .n-m::after {
background: var(--ina-bg);
}
body.agl-body.multiitem [id=x-mn] ~ label span::before,
body.agl-body.multiitem [id=x-mn] ~ label span::after {
background: var(--ina-bg-2) ;
}
body.agl-body.multiitem .m__i:hover > .m__l:hover {
color: var(--ina-color-2);
}
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
body.agl-body.multiitem .n-m a:link {
color: var(--ina-color-2);
}

body.agl-body.multiitem .n-m a:visited {
color: var(--ina-color-2);
}

body.agl-body.multiitem .n-m a:active {
color: var(--ina-color-2);
}

body.agl-body.multiitem .n-m a:hover {
background: var(--ina-bg);
}

body.agl-body.multiitem .n-m::before,
body.agl-body.multiitem .n-m::after {
background: var(--ina-bg-2);
}

body.agl-body.multiitem [id=x-mn] ~ label span::before,
body.agl-body.multiitem [id=x-mn] ~ label span::after {
background: var(--ina-bg) ;
}

body.agl-body.multiitem .m__i:hover > .m__l:hover {
color: var(--ina-color);
}

body.agl-body.multiitem .m__l::before,
body.agl-body.multiitem .m__l::after {
content: "";
background: var(--ina-red);
}
}

/* here */
body.agl-body.postpage header {
background: var(--ina-img);
color: var(--ina-color-2);
box-shadow: var(--box-shadow);
}
@media (max-width: 1024px) {
body.agl-body.postpage header {
background: var(--ina-bg-2);
}}
@media (max-width: 678px) {
body.agl-body.postpage header {
background: var(--ina-img);
}}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
body.agl-body.postpage header {
background: var(--ina-white);
}}

body.agl-body.postpage .cart-icon svg {
fill: var(--ina-color-2);
}

body.agl-body.postpage .theme-color {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:link {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:visited {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:active {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:hover {
background: var(--ina-bg-2);
}

body.agl-body.postpage .n-m::before,
body.agl-body.postpage .n-m::after {
background: var(--ina-img);
}

body.agl-body.postpage [id=x-mn] ~ label span::before,
body.agl-body.postpage [id=x-mn] ~ label span::after {
background: var(--ina-bg) ;
}

body.agl-body.postpage .m__i:hover > .m__l:hover {
color: var(--ina-color-2);
}

body.agl-body.postpage .m__l::before,
body.agl-body.postpage .m__l::after {
content: "";
background: var(--ina-red);
}

@media (max-width: 1024px) {
body.agl-body.postpage .n-m a:link {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:visited {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:active {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:hover {
background: var(--ina-bg);
}

body.agl-body.postpage .n-m::before,
body.agl-body.postpage .n-m::after {
background: var(--ina-bg-2);
}

body.agl-body.postpage [id=x-mn] ~ label span::before,
body.agl-body.postpage [id=x-mn] ~ label span::after {
background: var(--ina-bg) ;
}

body.agl-body.postpage .m__i:hover > .m__l:hover {
color: var(--ina-color);
}
}
@media (max-width: 678px) {
body.agl-body.postpage .n-m a:link {
color: var(--ina-color-2);
}
body.agl-body.postpage .n-m a:visited {
color: var(--ina-color-2);
}
body.agl-body.postpage .n-m a:active {
color: var(--ina-color-2);
}
body.agl-body.postpage .n-m a:hover {
background: var(--ina-bg);
}
body.agl-body.postpage .n-m::before,
body.agl-body.postpage .n-m::after {
background: var(--ina-img);
}
body.agl-body.postpage [id=x-mn] ~ label span::before,
body.agl-body.postpage [id=x-mn] ~ label span::after {
background: var(--ina-bg) ;
}
body.agl-body.postpage .m__i:hover > .m__l:hover {
color: var(--ina-color);
}
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
body.agl-body.postpage .n-m a:link {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:visited {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:active {
color: var(--ina-color-2);
}

body.agl-body.postpage .n-m a:hover {
background: var(--ina-bg);
}

body.agl-body.postpage .n-m::before,
body.agl-body.postpage .n-m::after {
background: var(--ina-bg-2);
}

body.agl-body.postpage [id=x-mn] ~ label span::before,
body.agl-body.postpage [id=x-mn] ~ label span::after {
background: var(--ina-bg) ;
}

body.agl-body.postpage .m__i:hover > .m__l:hover {
color: var(--ina-color);
}
}

@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

.agl-2 {
animation: fadeIn 1s ease-in-out;
}

.agl-1 {
opacity: 0;
transform: translateY(30px);
transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.agl-1.active {
opacity: 1;
transform: translateY(0);
}

.agl-intro.agl-intro-wrapper {
padding: 0 25px 0;
}

.agl-intro.agl-intro-wrapper h2 {
font-family: var(--font-family-2);
text-align: left;
font-size: 6rem;
font-weight: bold;
color:  var(--ina-color);
margin:0 0 25px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.3);
}

.agl-intro.agl-intro-wrapper span {
font-family: var(--font-family-2);
display: flex;
justify-content: flex-star;
align-items: flex-star;
color: var(--ina-color);
font-size: 2rem;
margin-bottom: 15px;
}

.btn-contacts {
font-size: 1.2rem;
background: transparent;
border: 1px solid var(--ina-color);
border-radius: 50px;
color: var(--ina-color);
transition: all 0.5s ease;
padding: 15px 35px;
display: flex;
justify-content: flex-star;
align-items: flex-star;
margin-top: 50px;
}

.btn-contacts:hover {
background: var(--ina-bg-2);
color: var(--ina-color-2);
transform: translateY(-5px);
}

.btn-agl.agl-btn {
display: flex;
justify-content: flex-start;
background: var(--ina-bg);
color: var(--ina-color);
border: none;
padding: 12px 25px;
font-size: 1.5rem;
font-weight: bold;
border-radius: 50px;
cursor: pointer;
transition: all 1.5s ease;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(255, 255, 255, 0.4);
}

.btn-agl.agl-btn:hover {
background: var(--ina-bg-2);
color: var(--ina-color-2);
transform: translateY(-5px);
}

.btn-agl.agl-btn:active {
transform: translateY(1px);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
.agl-intro.agl-intro-wrapper {
padding: 0 25px 0;
}

.agl-intro.agl-intro-wrapper h2 {
font-size: 5rem;
color:  var(--ina-color-2);
}

.agl-intro.agl-intro-wrapper span {
font-size: 1.5rem;
color: var(--ina-color-2);
}}

@media (max-width: 678px) {
.agl-intro.agl-intro-wrapper {
padding: 0 20px 0;
}
.agl-intro.agl-intro-wrapper h2 {
font-size: 2.2rem;
color:  var(--ina-color);
}

.agl-intro.agl-intro-wrapper span {
font-size: 1rem;
color: var(--ina-color);
}}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
.agl-intro.agl-intro-wrapper h2 {
font-size: 2.5em;
color:  var(--ina-color-2);
}

.agl-intro.agl-intro-wrapper span {
color: var(--ina-color-2);
}}

.area-keranjang-container{
display: flex;
flex-direction: column;
place-items: center;
}

.area-keranjang-container h2{
font-family: var(--font-family-3);
font-size: 2rem;
}

.area-cart{
display: flex;
align-items: center;
justify-content: flex-end;
flex-direction: column;
}

.cart-item div{
flex-direction: row;
display: flex;
}

.cart-item span,.cart-item button{
margin: 5px;
}

.cart-item .quantity {
padding: 15px;
}

.area-cart .cart-item {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
background: var(--ina-img);
padding: 10px;
border-radius: 8px;
box-shadow: var(--box-shadow);
}

.cart-item button {
background: var(--c1);
color: var(--ina-color-2);
border: none;
padding: 5px 10px;
margin: 10px 5px;
font-size: 1rem;
}

.cart-item .quantity {
margin: 0 10px;
}

#total {
text-align: center;
font-size: 1.2em;
font-weight: bold;
margin: 15px;
}

.checkout-btn {
background-image:linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
color: var(--ina-color-2);
padding: 12px 30px;
font-size: 1.2em;
border-radius: 50px;
cursor: pointer;
visibility: hidden;
opacity: 0;
margin: 0;
border: none;
box-shadow: var(--box-shadow);
transform: translateY(50px);
transition: opacity 1.5s ease-out, transform 1.5s ease-out, visibility 0s 1.5s;
}

.checkout-btn.visible {
visibility: visible;
opacity: 1;
transform: translateY(0);
}

.checkout-btn:hover {
background: var(--ina-color);
}

#backToTop {
position: fixed;
bottom: 20px;
right: 15px;
background-image: linear-gradient(268deg, #B6C9E7, #ADBAE7, #BBDAEC, #AED7ED);
color: white;
border: none;
border-radius: 50px;
width: 60px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
font-weight: bold;
cursor: pointer;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

#backToTop:hover {
opacity: 1;
transform: scale(1.1);
}

#backToTop.show {
opacity: 1;
visibility: visible;
transition: opacity 0.3s ease, transform 0.3s ease;
}

body.agl-body.multiitem {
background: var(--ina-bg);
color: var(--ina-color);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
flex-direction: column;
text-align: center;
}

@media (max-width: 1024px) {
body.agl-body.multiitem {
background: var(--ina-img);
color: var(--ina-color-2);
}
}
@media (max-width: 678px) {
body.agl-body.multiitem {
background: var(--ina-bg);
color: var(--ina-color);
}}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
body.agl-body.multiitem {
background: var(--ina-bg-2);;
color: var(--ina-color-2);
}
}

body.agl-body.postpage {
background: var(--ina-img);
color: var(--ina-color-2);
}

@media (max-width: 1024px) {
body.agl-body.postpage {
background: var(--ina-bg-2);
color: var(--ina-color-2);
}
}

@media (max-width: 678px) {
body.agl-body.postpage {
background: var(--ina-img);
color: var(--ina-color-2);
}
}

.ina-anim {
opacity: 0;
transform: translateY(80px);
transition: opacity 1s ease-out, transform 1s ease-out;
}

.ina-anim.visible {
opacity: 1;
transform: translateY(0);
}
body.agl-body.website {
background: var(--ina-bg-2)!important;
min-height:100vh;
}
body.agl-body.website header {
background: var(--ina-bg-2);
color: var(--ina-color-2);
box-shadow: var(--box-shadow);
}

body.agl-body.website .n-m::before,
body.agl-body.website .n-m::after {
background: var(--ina-bg-2);
}
body.agl-body.website .agl-intro.agl-intro-wrapper h2 {
color:  var(--ina-color-2);
}

body.agl-body.website .agl-intro.agl-intro-wrapper span {
color: var(--ina-color-2);
}

body.agl-body.website .btn-contacts {
border: 1px solid var(--ina-color-2);
color: var(--ina-color-2);
}

body.agl-body.website .btn-contacts:hover {
background: var(--ina-bg);
color: var(--ina-color);
}

body.agl-body.website .btn-agl.agl-btn {
background: var(--ina-bg-2);
color: var(--ina-color-2);
}

body.agl-body.website .btn-agl.agl-btn:hover {
background: var(--ina-bg);
color: var(--ina-color);
}

body.agl-body.website .btn-agl.agl-btn:active {
transform: translateY(1px);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}  

.cart-container-price.agl-cart-container-price {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 25px;
padding: 25px;
background: transparent;
}

.cart-container-price.agl-cart-container-price:hover {
transform: translateY(-5px);
}

.cart-item-price.agl-cart-item-price {
background-image: var(--ina-img);
border: var(--border-none);
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
padding: 10px;
text-align: center;
margin-bottom:50px;
position: sticky;
top: 100px;
}

.cart-item-price.agl-cart-item-price:hover {
box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
transform: translateY(-5px);
}

.cart-item-price.agl-cart-item-price h3 {
margin: 10px 0 25px;
font-size: 2rem;
color: #ff0000;
}

.cart-item-price.agl-cart-item-price p {
font-size: 15px;
color: var(--ina-color-2);
}

.cart-item-price.agl-cart-item-price .price {
font-size: 1.2rem;
font-weight: bold;
color: #28a745;
}

@media (max-width: 768px) {
.cart-container-price.agl-cart-container-price {
grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 480px) {
.cart-container-price.agl-cart-container-price {
grid-template-columns: repeat(1, 1fr);
}
}

.agl-cart-price {
margin: 25px 0 15px;
background: var(--ina-bg);
color: var(--ina-color);
border: none;
border-radius: 50px;
padding: 10px 15px;
transition: all 1s ease;
}

.agl-cart-price:hover {
transform: translateY(-5px);
background: var(--ina-bg-2);
color: var(--ina-color-2);
}

.faq-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 15px;
background: transparent;
padding: 25px;
border-radius: 12px;
}

@media (max-width: 678px) {
.faq-container {
grid-template-columns: repeat(1, 1fr);
}}

details {
position: sticky;
top: 100px;
background: var(--ina-img);
border: var(--border-none);
margin-bottom: 50px;
padding: 15px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: transform 0.3s ease, box-shadow 0.3s ease;
overflow: hidden;
}

details:hover {
transform: translateY(-5px);
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

summary {
font-size: 18px;
font-weight: bold;
color: var(--ina-color-2);
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 100px;
cursor: pointer;
}

summary::after {
content: "+";
font-size: 22px;
font-weight: bold;
transition: transform 0.3s ease;
}

details[open] summary::after {
content: "-";
transform: rotate(180deg);
}

details[open] summary {
color: var(--ina-color-2);
}

.faq-container p {
padding: 15px;
background: hsl(240, 67%, 94%);
border-radius: 10px;
font-size: 16px;
color: #555;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-out;
}

details[open] p {
max-height: 500px;
}

.agl-s-quote {
padding: 5rem 5rem 5rem;
animation-delay: 0.2s;
display: grid;
gap: 15px;
word-break: break-word;
grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 768px) {
.agl-s-quote {
grid-template-columns: repeat(2, 1fr);
padding: 5rem 15px 4rem;
}
}

@media (max-width: 678px) {
.agl-s-quote {
grid-template-columns: repeat(1, 1fr);
padding: 5rem 15px 4rem;
}
}

.agl-s-quote span {
display: flex;
flex-direction: row;
gap: 15px;
}

.agl-testimonial-container {
position: relative;
margin: 15px;
max-width: 800px;
height: auto;
background: transparent;
border: var(--border-none);
border-radius: 15px;
overflow: hidden;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
display: flex;
justify-content: center;
align-items: center;
}

.agl-testimonials {
display: flex;
transition: transform 0.5s ease-in-out;
}

.agl-testimonial {
min-width: 100%;
text-align: center;
}


.agl-testimonial img {
width: 100%;
height: 100%;
object-fit: cover;
}

.agl-prev, .agl-next {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: transparent;
color: white;
font-size: 2em;
border: var(--border-none);
padding: 5px 15px;
cursor: pointer;
border-radius: 50%;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.agl-prev:hover, .agl-next:hover {
transform: translateY(-50%) scale(1.2);
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}

.agl-prev {
left: 10px;
}

.agl-next {
right: 10px;
}

.agl-dots {
text-align: center;
padding: 25px;
}

.agl-dot {
display: inline-block;
width: 12px;
height: 12px;
margin: 0 5px;
background: #aaa;
border-radius: 50%;
cursor: pointer;
transition: background-color 0.3s ease;
}

.agl-dot.active {
background: #afa8ee;
}

@media (max-width: 768px) {
.agl-prev, .agl-next {
font-size: 1.5em;
}
}

.section-circle{
display: flex;
align-items: center;
justify-content:center;
white-space:nowrap;
padding:20px 20% 20px;
height:100px;
margin: 50px 0;

}
@media (max-width:678px){
.section-circle{
padding:20px 12% 20px;
}
}
.circle {
font-family: var(--font-family-3);
position: relative;
width: 100%;
height: 200px;
border-radius: 100vmax;
display: flex;
align-items: center;
justify-content: center;
}

.div-circle{
display:grid;
grid-template-columns: repeat(2,1fr);
align-items: center;
width:fit-content;
gap:50px;
}

.div-circle h2{
font-size: 6rem;
font-family: var(--font-family-3);
color:var(--ina-color-2);
font-weight:500;
text-shadow: 4px 4px 8px rgb(0 0 0 / 10%);
}
@media (max-width: 1024px) {
.div-circle h2 {
font-size: 3rem;
}}
@media (max-width: 678px) {
.div-circle h2 {
font-size: 2.5rem;
}}

.devinacircletext {
position: absolute;
width: 50%;
height: 50%;
font-family: consolas;
color: var(--ina-color-2);
font-size: 17px;
animation: textRotation 8s linear infinite;
text-transform: uppercase;
font-family: var(--font-family-2);
font-weight: bold;
}

@keyframes textRotation {
to {
transform: rotate(360deg);
}
}

.devinacircletext div {
position: absolute;
left: 50%;
font-size: 1.2em;
transform-origin: 0 50px;
}

.move-text-wrap {
font-family: var(--font-family-3);
background: transparent;
color: var(--ina-color-2);
text-transform: uppercase;
overflow: hidden;
margin-bottom: 25px;
padding: 15px;
font-weight: bold;
}
.move-text-wrap .text-wrap {
display: flex;
flex-wrap: nowrap;
white-space: nowrap;
min-width: 100%;
}
.move-text-wrap .text-wrap .move-text {
display: flex;
flex-shrink: 0;
height: 50px;
align-items: center;
animation: slide-left 33s linear infinite;
}
.move-text-wrap .text-wrap .move-text p {
font-size: 5rem;
padding-left: 1.5rem;
}
@keyframes slide-left {
from {
-webkit-transform: translateX(0);
transform: translateX(0);
}
to {
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
}

.move-text-wrap-right {
font-family: var(--font-family-3);
background: transparent;
color: var(--ina-color-2);
text-transform: uppercase;
overflow: hidden;
margin-bottom: 25px;
padding: 15px;
font-weight: bold;
}
.move-text-wrap-right .text-wrap-right {
display: flex;
flex-wrap: nowrap;
white-space: nowrap;
min-width: 100%;
}
.move-text-wrap-right .text-wrap-right .move-text-right {
display: flex;
flex-shrink: 0;
height: 50px;
align-items: center;
animation: slide-right 33s linear infinite;
}
.move-text-wrap-right .text-wrap-right .move-text-right p {
font-size: 5rem;
padding-left: 1.5rem;
}

@keyframes slide-right {
from {
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
to {
-webkit-transform: translateX(0);
transform: translateX(0);
}
}

#section-footer{display:flex;flex-direction:row;align-items:center;justify-content:center;gap:35px;}
#section-footer span,#section-footer button{font-size:4rem}
@media (max-width:1200px){
#section-footer span,
#section-footer button{font-size:3rem}}
@media (max-width:1024px){
#section-footer span,
#section-footer button{font-size:2rem}}
@media (max-width:678px){
#section-footer span,#section-footer button{
font-size:1.2rem;}
#section-footer button {
padding: 13px 20px;
}}
#section-footer span{color:var(--ina-bg-button);
text-decoration:underline}
#section-footer button{background:var(--ina-bg-button);
color:hsl(240, 67%, 94%);
border:none;border-radius:50px;padding:15px 50px;}
#section-footer {
padding: 50px 0 80px!important;
}

.s-website {
text-align: center;
font-family: var(--font-family-3);
font-size: 6rem;
text-shadow: var(--text-shadow);
color: var(--ina-color-2);
}
@media (max-width: 1024px) {
.s-website {
font-size: 3rem;
}}
@media (max-width: 678px) {
.s-website {
font-size: 2.5rem;
}}

.s-ads-price {
text-align: center;
font-family: var(--font-family-3);
font-size: 5rem;
color: var(--ina-color-2);
font-weight: bold;
margin: 5rem 0 2rem;
}
@media (max-width: 1024px) {
.s-ads-price {
font-size: 3rem;
}}
@media (max-width: 678px) {
.s-ads-price {
font-size: 2.5rem;
}}

.cart-item-price h2{
font-size: 2.5rem;
color: var(--ina-color-2);
margin-bottom: 15px;
}

@media (max-width: 678px) {
.cart-item-price h2 {
font-size: 2rem;
margin-bottom: 10px;
}}

.agl_index_content {
position: relative;
margin-bottom:5rem;
}

.agl___carousel {
width: 100vw;
height: 100vh;
overflow-y: scroll;
scroll-snap-type: y mandatory;
}

.agl___slide {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 2.5rem;
color: rgba(0, 0, 0, 0.75);
scroll-snap-align: center;
text-align: center;
padding: 2rem;
}
@media (max-width: 1200px) {
.agl___carousel, .agl___slide {
height: 80vh;
}}
@media (max-width: 678px) {
.agl___carousel, .agl___slide {
height: 50vh;
}}

.agl___slide:nth-of-type(odd) {
background-color: var(--ina-bg);
color: var(--ina-color);
}

.agl___slide:nth-of-type(even) {
background-color: var(--ina-bg);
color: var(--ina-color);
}

.agl___slide h2 {
font-size: 5rem;
margin-bottom: 1rem;
}

.agl___slide p {
font-size: 1.8rem;
margin-top: 0;
margin-bottom: 1rem;
max-width: 800px;
width: 100%;
word-wrap: break-word; 
}

@media (max-width: 1024px) {
.agl___slide h2 {
font-size: 2rem;
margin-bottom: 0.5rem;
}

.agl___slide p {
font-size: 1rem;
margin-bottom: 1rem;
max-width: 600px;
}

.agl___slide {
padding: 1rem;
}
}

@media (max-width: 768px) {
.agl___slide h2 {
font-size: 1.5rem;
margin-bottom: 0.3rem;
}

.agl___slide p {
font-size: 1rem;
margin-bottom: 1rem;
}

.agl___slide {
padding: 1rem;
}
}

.agl___indicator {
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%);
display: flex;
flex-direction: column;
align-items: center;
mix-blend-mode: difference;
}

.agl___indicator-item {
position: relative;
font: 0.65rem var(--font-family-2);
color: white;
margin: 0.5rem 0;
cursor:pointer;
transition: transform 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.agl___indicator-item:first-of-type::before,
.agl___indicator-item:last-of-type::after {
content: none;
}

.agl___indicator-item::before,
.agl___indicator-item::after {
content: &#39;&#39;;
position: absolute;
left: calc(50% - 0.03rem);
transform: translateX(-50%);
width: 0.015rem;
height: 1.25rem;
background-color: white;
transform: scaleY(0);
transition: transform 0.5s ease-in-out;
}

.agl___indicator-item::before {
top: -1.3rem;
transform-origin: bottom;
}

.agl___indicator-item::after {
bottom: -1.3rem;
transform-origin: top;
}

.agl___expand {
transform: scale(3);
margin: 5rem 0;
}

.agl___expand:first-of-type {
margin-top: 0;
}

.agl___expand:last-of-type {
margin-bottom: 0;
}

.agl___expand::before,
.agl___expand::after {
transform: scaleY(1);
}
@media (max-width: 678px){
.agl___indicator {
display:none;
}}

body.agl-body.template {
color: var(--ina-color);
}
body.agl-body.template,
body.agl-body.template header {
background: var(--ina-bg);
}

body.agl-body.template header,
body.agl-body.template .theme-color,
body.agl-body.template .n-m a:link,
body.agl-body.template .n-m a:visited,
body.agl-body.template .n-m a:active {
color: var(--ina-color);
}

body.agl-body.template .n-m a:hover {
background: var(--ina-bg-2);
}
body.agl-body.template .n-m::before,
body.agl-body.template .n-m::after {
background: var(--ina-bg);
}
body.agl-body.template [id=x-mn] ~ label span::before,
body.agl-body.template [id=x-mn] ~ label span::after {
background: var(--ina-bg-2) ;
}
body.agl-body.template .m__i:hover &gt; .m__l:hover {
color: var(--ina-color-2);
}

body.agl-body.template .cart-icon svg {
fill: var(--ina-color);
}

body.agl-body.template .agl-intro-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
min-height: 80vh;
padding: 25px;
}
@media only screen and (orientation: landscape) and (max-width: 1200px) {
body.agl-body.template .agl-intro-wrapper {
min-height: 100vh;
}}

body.agl-body.template .agl-intro-wrapper span,
body.agl-body.template .agl-intro-wrapper h2 {
color: var(--ina-color);
}

body.agl-body.template #agl-price-s-template h2{
text-align: center;
color: var(--ina-color);
font-family: var(--font-family-3);
font-size: 5rem;
margin-bottom: 0;
}

body.agl-body.template #agl-price-s-template p{
color: var(--ina-color);
text-align: center;
margin-bottom: 50px;
font-size: 1.5rem;
font-family: var(--font-family-2);
}
@media (max-width: 1200px) {
body.agl-body.template #agl-price-s-template h2 {
font-size: 3rem;
}}
@media (max-width: 678px) {
body.agl-body.template #agl-price-s-template h2 {
font-size: 2rem;
}
body.agl-body.template #agl-price-s-template p{
font-size: 1rem;
}}

@media (max-width: 678px) {
body.agl-body.template main{
padding: 0 0 100px;
}  

body.agl-body.template #agl-s-template_price {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
background: var(--ina-bg);
background-size: cover;
background-position: center;
flex-wrap: wrap;
}
body.agl-body.template .fluffy-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 5rem;
padding: 10px;
}

body.agl-body.template .fluffy-box {
position: relative;
border-radius: 20px;
transform-style: preserve-3d;
margin-bottom: 50px;
}

body.agl-body.template .fluffy-box .fluffy-card {
position: relative;
background: var(--ina-bg);
width: 250px;
min-height: 400px;
backdrop-filter: blur(10px);
border: 1px solid var(--ina-color);;
border-top: 1px solid var(--ina-color);
border-left: 1px solid var(--ina-color);
border-radius: 20px;
box-shadow: var(--box-shadow-none);
transform-style: preserve-3d;
}

body.agl-body.template .fluffy-elements {
position: absolute;
top: 50px;
left: -30px;
width: 100px;
height: 100px;
background: var(--ina-bg);
transform: translateZ(80px);
backdrop-filter: blur(10px);
border: 1px solid var(--ina-color);
border-top: 1px solid var(--ina-color);
border-left: 1px solid var(--ina-color);
border-radius: 10px;
box-shadow: var(--box-shadow-none);
}

body.agl-body.template .fluffy-elements.bg::before {
content: "";
position: absolute;
inset: 0;
background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj8xH85K2lLsMYrWswR5hACdGLy9YkzmltCawXjf0cJo7wQhd5-JA0UYOFb5coO5ta3_bFphmat2jnD0pcjRDy2Cud_gJbgQ2h7evB0ZDbovzgj9s76jCSRv8X9EGZU7KDLvyBXYBt_xsqjg2E7q3GCRE5QwDA_ePbfAANCEfv9NM6qDj8BSAP_yaZJdR4/s200/img-s-template.png);
background-size: 60px;
background-position: center;
background-repeat: no-repeat;
opacity: 0;
transition: 0.9s;
}

body.agl-body.template .fluffy-box:hover .fluffy-elements.bg::before {
opacity: 1;
}

body.agl-body.template .fluffy-elements.imgBx {
top: 0;
left: initial;
right: 60px;
width: 120px;
height: 120px;
padding: 10px;
transform: translateZ(120px);
}

body.agl-body.template .fluffy-elements.imgBx img {
position: absolute;
width: calc(100% - 20px);
border-radius: 8px;
border: 1px solid var(--ina-color);
border-top: 1px solid var(--ina-color);
border-left: 1px solid var(--ina-color);
box-shadow: var(--box-shadow-none);
opacity: 0;
transition: 0.8s;
}

body.agl-body.template .fluffy-box:hover .fluffy-elements.imgBx img {
opacity: 1;
}

body.agl-body.template .fluffy-elements.name {
font-family: var(--font-family-3);
font-size: 1.2rem;
top: 235px;
left: initial;
right: 1rem;
width: 100%;
padding: 10px;
text-align: right;
transform: translateZ(100px);
background: transparent;
backdrop-filter: blur(0px);
border: none;
box-shadow: none;
color: var(--ina-color);
transition: 1s;
opacity: 0;
transition-delay: 0.25s;
}

body.agl-body.template .fluffy-box:hover .fluffy-elements.name {
top: 115px;
opacity: 1;
}

body.agl-body.template .fluffy-elements.content {
top: initial;
left: initial;
bottom: -35px;
right: -20px;
width: 85%;
min-height: 200px;
padding: 10px;
transform: translateZ(180px);
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

body.agl-body.template .fluffy-elements.content p {
position: relative;
color: var(--ina-color);
font-size: 1rem;
transition: 0.8s;
opacity: 0;
transition-delay: 0.5s;
margin: 0;
line-height: 1.5rem;
}

body.agl-body.template .fluffy-box:hover .fluffy-elements.content p {
opacity: 1;
}

@media (max-width: 1024px) {
body.agl-body.template .fluffy-container {
grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 678px) {
body.agl-body.template .fluffy-container {
grid-template-columns: 1fr;
}
}
body.agl-body.template .devinacircletext3 {
position: absolute;
width: 50%;
height: 50%;
font-family: consolas;
font-size: 17px;
animation: textRotation 8s linear infinite;
text-transform: uppercase;
font-family: var(--font-family-2);
font-weight: bold;
}

body.agl-body.template .devinacircletext3 div {
position: absolute;
left: 50%;
font-size: 1.2em;
transform-origin: 0 50px;
}
body.agl-body.template .move-text-wrap,
body.agl-body.template .move-text-wrap-right{
background: transparent;
color: var(--ina-color);
}

body.agl-body.template #section-footer{
background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiy3ckCpoIxoyyImu2ocq61erKYGmj5U97mMgPL8e6A7LcZvdXaEg__guCVIcCy5AjrT1H0sM3vT1fJEMivMqGUvPlsXLjTyQ83huZblaIFuJVXnw4LfttrdERGHPH1Os9Af39LUqIdbZsswKFl8d_c1ehMQ9klJ8zSCgYx6aJF469fti-cOiIFKNLc1fA/s200/kitten.webp');
background-repeat: no-repeat;
background-size: auto 90%;
background-position: left;
pointer-events: none;
}

body.agl-body.postpage
#sidebar_wrapp {
background: var(--ina-image);
box-shadow: var(--box-shadow);
}
body.agl-body.postpage
#sidebar_wrapp a{
color: var(--ina-color-2);
}

body.agl-body.multiitem
#sidebar_wrapp {
background: var(--ina-bg);
box-shadow: var(--box-shadow-none);
}
body.agl-body.multiitem
#sidebar_wrapp a{
color: var(--ina-color);
}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
body.agl-body.postpage {
background: var(--ina-bg-2);
color: var(--ina-color-2);
}}

header h1 {
text-align: left;
margin-left: 100px;
}

@media (max-width: 1200px) {
header h1{
text-align: center;
margin-left: 0;
}}

